
.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
}

#farbe {
    background-color: #F1EFEC;
}

